/* GUIDE */

.guide {
  padding-left: 8rem;
  padding-right: 8rem;
  padding-bottom: 13.625rem;
  background-color: #3e4247;
}

.guide-name {
  margin-top: 11.25rem;
  font-family: "Philosopher", "Iowan", serif;
}

.guide-label {
  margin-bottom: 3rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #a9afb6;
}

.guide-tagline {
  margin-bottom: 3.125rem;
  font-size: 3rem;
  line-height: 1.25;
  font-weight: 700;
  color: #ffffff;
}

.guide-link {
  font-size: 1rem;
  line-height: 1.1875;
  font-family: "Fira Sans", "Helvetica Neue", "Lucida Sans Unicode", sans-serif;
  color: #00779a;
  text-decoration: none;
}

.guide-cover {
  margin-bottom: -0.25rem;
  margin-top: 4rem;
}

/* SIGHTS */

.sights {
  margin-top: -9.625rem;
  margin-bottom: 4rem;
  display: flex;
}

.sights-map {
  margin-top: 1px;
  display: block;
  box-shadow: 0 0 1.25rem 0.25rem rgba(0, 0, 0, 0.3);
}

.sights-list {
  background-color: #fff;
  box-shadow: 0 0 1.25rem 0.25rem rgba(0, 0, 0, 0.3);
}

.sight {
  padding-left: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.625rem;
  border-bottom: solid 1px #e0e0e1;
}

.sight-name {
  margin-top: -1px;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.38;
  font-family: "Fira Sans", "Helvetica Neue", "Lucida Sans Unicode", sans-serif;
  color: #3e4247;
}

.sight-distance {
  margin-top: 0.5rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.38;
  font-family: "Fira Sans", "Helvetica Neue", "Lucida Sans Unicode", sans-serif;
  color: #a9afb6;
}
