body {
  background-image: url(./img/background.png);
  background-repeat: repeat;
  background-color: white;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
  -webkit-line-break: after-white-space;
}


/* HEADER */

.header {
  padding-right: 5.5em;
  padding-left: 7.5em;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

.header-logo {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  display: flex;
  justify-content: flex-start;
}

.header-nav {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: flex-end;
  font-size: 1rem;
  font-family: "Fira Sans", "Helvetica Neue", "Lucida Sans Unicode", sans-serif;
  line-height: 1.0;
  color: #3e4247;
}

.header-nav-link {
  margin-right: 2rem;
  font-family: "Fira Sans", "Helvetica Neue", "Lucida Sans Unicode", sans-serif;
  font-size: 1rem;
  color: #3e4247;
  text-decoration: none;
}


/* INTRO */

.main-logo {
  padding: 5rem 31.875rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
  background-color: #161616;
}

.intro {
  margin: 4rem 19.875rem;
  text-align: center;
  font-size: 1rem;
  font-family: "Fira Sans", "Helvetica Neue", "Lucida Sans Unicode", sans-serif;
}

.intro-title {
  margin-bottom: .5rem;
  font-weight: 700;
  font-size: 24px;
  color: #3e4247;
}

.intro-text {
  margin-bottom: 1rem;
  font-size: 16px;
  line-height: 1.5;
  color: #3e4247;
}

.intro-button {
  padding: 0.75rem 2rem;
  font-family: "Fira Sans", "Helvetica Neue", "Lucida Sans Unicode", sans-serif;
  color: #fff;
  background-color: #000000;
  border: none;
  cursor: pointer;
}


/* COMPLEXES */

.complexes {
  margin-left: 7.5rem;
  margin-right: 7.5rem;
}

.complex {
  margin-bottom: 3rem;
  display: flex;
  background-color: #fff;
}

.card-with-shadow {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.complex-data {
  font-family: "Fira Sans", "Helvetica Neue", "Lucida Sans Unicode", sans-serif;
  border-bottom: 2px solid #646971;
}

.complex-location {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: 2rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: "Monaco", "Lucida Console", monospace;
  line-height: 1.25;
  color: #646971;
}

.complex-address {
  margin-bottom: .5rem;
  margin-left: 2rem;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.4;
  color: #000000;
}

.complex-description {
  margin-left: 2rem;
  margin-right: 5.375rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #3e4247;
}


/* FOOTER */

.footer {
  margin-top: 6rem;
  padding: 2rem 7.5rem 1.9375rem;
  font-weight: 300;
  font-size: 14px;
  font-family: "Fira Sans", "Helvetica Neue", "Lucida Sans Unicode", sans-serif;
  background-color: #111111;
}

.footer-heading {
  font-weight: 700;
  color: #646971;
}

.footer-detail {
  color: #a9afb6;
}

.footer-nav {
  margin-left: .5rem;
  margin-right: .5rem;
  border-top: solid 2px #3e4247;
}

.footer-link {
  color: #ffffff;
  text-decoration: none;
}

.with-padding {
  padding-top: 1rem;
}

.footer-caption {
  padding-top: 6rem;
  font-size: 11px;
  line-height: 1.5;
  color: #a9afb6;
}