body {
  background-image: url(./img/background.png);
  background-repeat: repeat;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  padding-left: 7.5em;
  padding-right: 5.5em;
}

.header-logo {
  display: flex;
  justify-content: flex-start;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.header-nav {
  display: flex;
  justify-content: flex-end;
  font-family: 'Fira Sans';
  font-size: 1rem;
  line-height: 1.0;
  color: #3e4247;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.header-link {
  margin-right: 2rem;
}

.compass-dev-logo {
  display: flex;
  justify-content: center;
  background-color: #161616;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 31.875rem;
  padding-right: 31.875rem;
  margin-bottom: 4rem;
}

.intro {
  margin-left: 19.875rem;
  margin-right: 19.875rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  text-align: center;
}

.intro-title {
  font-family: "Fira Sans";
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #3e4247;
  margin-bottom: 0.5rem;
}

.intro-text {
  font-family: "Fira Sans";
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 1rem;
  color: #3e4247;
}

.intro-button {
  padding-top: 1rem;
  background-color: #000000;
  border: none;
  font-family: 'Fira Sans';
  font-size: 16px;
  line-height: 1.0;
  text-align: center;
  color: #ffffff;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  cursor: pointer;
}

.object-card {
  display: flex;
  background-color: #ffffff;
  margin-left: 7.5rem;
  margin-right: 7.5rem;
  margin-bottom: 3rem;
}

.object-data {
  border-bottom: 2px solid #646971;
}

.object-location {
  display: flex;
  font-family: monaco, Consolas, 'Lucida Console', monospace;
  font-size: 1rem;
  text-transform: uppercase;
  color: #646971;
  margin-left: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.object-address {
  display: flex;
  font-family: 'Fira Sans';
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.4;
  color: #000000;
  margin-left: 2rem;
  margin-bottom: 0.5rem;
}

.object-description {
  display: flex;
  font-family: 'Fira Sans';
  font-size: 1rem;
  line-height: 1.5;
  margin-left: 2rem;
  color: #3e4247;
}

.footer {
  margin-top: 3rem;
  display: flex;
  background-color: #ffffff;
}
