body {
  background-image: url(%PUBLIC_URL%/background.png);
  background-color: #EAEBF0;
  background-size: 20px 10px;
  background-repeat: repeat;
}


/* MAIN LOGO */

.main-logo {
  padding: 5rem 31.875rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
  background-color: #161616;
}


/* INTRO */

.intro {
  margin: 4rem 19.875rem;
  text-align: center;
  font-size: 1rem;
  font-family: "Fira Sans", "Helvetica Neue", "Lucida Sans Unicode", sans-serif;
}

.intro-title {
  margin-top: 0;
  margin-bottom: 0.625rem;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.4;
  color: #3e4247;
}

.intro-text {
  margin-top: 0.625rem;
  margin-bottom: 1rem;
  line-height: 1.5;
  color: #3e4247;
}

.intro-button {
  padding: 0.75rem 2rem;
  border-radius: 2px;
  line-height: 1.0;
  font-family: "Fira Sans", "Helvetica Neue", "Lucida Sans Unicode", sans-serif;
  color: #fff;
  background-color: #000000;
  border: none;
  cursor: pointer;
}


/* COMPLEXES */

.complexes {
  margin-left: 7.5rem;
  margin-right: 7.5rem;
}

.complex {
  margin-bottom: 3rem;
  display: flex;
  background-color: #fff;
}

.complex:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.complex-data {
  font-family: "Fira Sans", "Helvetica Neue", "Lucida Sans Unicode", sans-serif;
  border-bottom: 2px solid #646971;
}

.complex-location {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: 2rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: "Monaco", "Lucida Console", monospace;
  line-height: 1.25;
  color: #646971;
}

.complex-name {
  margin-top: 1.5rem;
  margin-bottom: .5rem;
  margin-left: 2rem;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.4;
  color: #000000;
}

.complex-description {
  margin-top: 0.5rem;
  margin-left: 2rem;
  margin-right: 5.375rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #3e4247;
}


/* FOOTER */

.footer {
  margin-top: 6rem;
}

.footer-caption {
  margin-top: 5.25rem;
}