body {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
}

.container-fluid {
  padding-right: 1rem;
  padding-left: 1rem;
}

.row {
  margin-left: 0;
  margin-right: 0;
}
