body {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
}


/* HEADER */

.header {
  padding-left: 7.5em;
  padding-right: 5.5em;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: 1px solid #EAEBF0;
}

.header-logo {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  display: flex;
  justify-content: flex-start;
}

.header-nav {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: flex-end;
  font-size: 1rem;
  font-family: "Fira Sans", "Helvetica Neue", "Lucida Sans Unicode", sans-serif;
  line-height: 1.0;
  color: #3e4247;
}

.header-nav-link {
  margin-right: 2rem;
  line-height: 1.0;
  font-size: 1rem;
  font-family: "Fira Sans", "Helvetica Neue", "Lucida Sans Unicode", sans-serif;
  color: #3e4247;
  text-decoration: none;
}


/* FOOTER */

.footer {
  padding: 2rem 7.5rem;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.2;
  font-family: "Fira Sans", "Helvetica Neue", "Lucida Sans Unicode", sans-serif;
  background-color: #111;
}

.footer-company {
  padding-top: 2px;
}

.footer-heading {
  margin-top: 0rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
  color: #646971;
}

.footer-detail {
  color: #a9afb6;
}

.footer-detail:last-child {
  margin-top: 1.375rem;
}

.footer-nav {
  border-top: solid 2px #3e4247;
  padding-top: 1.125rem;
}

.footer-link {
  display: block;
  margin-top: 0.5rem;
  color: #ffffff;
  text-decoration: none;
}

.footer-link-last {
  margin-top: 1.375rem;
}

.link-arrow {
  margin-left: 0.5rem;
}

.footer-caption {
  margin-bottom: 0;
  font-size: 0.6875rem;
  font-weight: 300;
  line-height: 1.5;
  color: #a9afb6;
}