body {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
}

/* HEADER */

.header {
  padding-left: 7.5em;
  padding-right: 5.5em;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: 1px solid #eaebf0;
}

.header-logo {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  display: flex;
  justify-content: flex-start;
}

.header-nav {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: flex-end;
  font-size: 1rem;
  font-family: "Fira Sans", "Helvetica Neue", "Lucida Sans Unicode", sans-serif;
  line-height: 1.0;
  color: #3e4247;
}

.header-nav-link {
  margin-right: 2rem;
  line-height: 1.0;
  font-size: 1rem;
  font-family: "Fira Sans", "Helvetica Neue", "Lucida Sans Unicode", sans-serif;
  color: #3e4247;
  text-decoration: none;
}
